body
{
	font-family: arial, sans-serif;
}

h1
{
	font-family: "Crete Round", serif;
}

p
{
	color:  #777;
}

a
{
	text-decoration: none;
}

.bouton
{
	color:  #444;
	background-color: #ff7A00;
	border: 1px solid black;
	border-radius: 5px;
}

.bouton:hover
{
	background-color: #02b8dd;
}

#sect0
{
	display: flex; 
}

#sect0 .imag
{
	width: 50%;
	text-align: center;
}


nav ul li
{
	/* Pas de puces*/
	list-style-type: none;
	/* Affiche en ligne */
	display: inline;
	/* si 4 valeurs : haut droite bas gauche 
		si 2 valeurs haut/bas gauche/droite
		si 1 valeur appliqué partout*/
	margin: 5px;
}

#sect1
{
	/*width: 2000px;*/
	height: 349px;
	margin: 50px;
	/*background: url('images/ponton.jpg') center;*/
	background: url(images/ponton.jpg) center no-repeat;
}

#sect1 .orga
{
	color: black;
	text-align: center;
	position: relative;
	font-size: 40px;
	text-transform: uppercase;
	top: 50px;  /*on descend de 50px par rapport au dernier el*/
	/*left: 300px;/* 300px à droite de la marge gauche du body */
}

#sect1 .par_ici
{
	text-align: center;
	position: relative;
	top: 50px;
}

#sect2
{
	display: flex;
	height: 230px;
	margin: 50px;
	justify-content: center;
}

#sect2 div
{
	text-align: center;
	width: 300px;
	font-size: 14px;
}

#sect3
{
	display: flex;
	height: 180px;
	margin: 50px;
	padding: 50px;
	justify-content: center;
	background-color: lightgrey;
	/*max-width: 1820px;
	text-align: center;*/
}

#sect3 section
{
	display: flex;
	justify-content: center;
	background-color: #eee;
	border-radius: 15px;
}

#sect3_1 div, #sect3_2 div
{
	text-align: center;
	width: 306px;
	height: 180px;
	font-size: 14px;
}

#inter_div
{
	width: 6px;
}

#sect3 img
{
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
}

#sect4
{
	text-align: center;
	justify-content: center;
}

#sect4 hr
{
	width: 25%;
	/*resize: 4px;*/
	color: green;
}

#sect4_1 form
{
	display: flex;
	justify-content: center;
}

#sect4_1 div
{
	/*margin: 50px;*/
	padding: 10px;
}

#blubutton
{
	color: white;
	background-color: #02c8ee;
}

footer
{
	background-color: grey;
	text-align: center;
	margin: 50px;
}

footer h1
{
	color: white;
	font-weight: bold;
}

footer p
{
	color: lightgrey;
	padding-bottom: 15px;
}